[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
redis = "*"
redisearch = "*"
psycopg2 = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.uvicorn]
extras = [ "standard",]
version = "*"
