[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
redis = "*"
redisearch = "*"
passlib = "*"
psycopg2-binary = "*"
bcrypt = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.uvicorn]
extras = [ "standard",]
version = "*"

[packages.python-jose]
extras = [ "cryptography",]
